@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Oswald:wght@300;400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald' , 'sans-serif';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./Components/Assets/background.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer {
  color: #fff;
  font-size: 13px;
  font-weight: 200;
  position: absolute;
  bottom: 0px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  /* right: 350px; */
  /* margin-bottom: 100px; */
}
